/* colors:
grey: #ccc;
*/


/*===================
GENERAL
===================*/

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: #808080;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}

html {
  padding: 0px;
  color: #ccc;
  font-family: Copperplate, sans-serif;
}

/*===================
LAYOUT
===================*/

#container {
  max-width: 960px;
  margin: auto;
}

@media (max-width: 769px) {
  #container {
    max-width: 768px;
  }

  aside > #contact-form {
  width: 60%;
  }
}

@media (max-width: 480px) {
  #container {
    max-width: 480px;

    & > .blog-post-right {
    float: left;
    text-align: left;
    }

    & > .blog-blurb {
      width: 100%;
    }
  }

  .blog-title {
    text-align: center;
  }

  aside > #contact-form {
  width: 80%;

    & > fieldset > label > input {
      border-radius: 10px;
      border: 2px inset #ccc;
      height: 5em;

      &::-webkit-input-placeholder {
        font-size: small;
      }
    }

    & > fieldset > label > textarea {
      border-radius: 10px;
      border: 2px inset #ccc;
      height: 12em;

      &::-webkit-input-placeholder {
        padding-top: 55px;
        font-size: small;
      }
    }

    & > fieldset > input.button {
      border-radius: 10px;
      background: none;
      border: 6px outset #ccc;
      font-style: italic;
      font-size: 2em;
      color: #ccc;
      width: 40%;
      margin: auto;
      display: block;
    }
  }

  #projects-container > .tile {
    width: 90%;
    padding-bottom: 80%;
    float: none;
    margin: 1em auto 1em auto;
    opacity: 1.0;

    & > div > span {
      opacity: 1.0;
      background: linear-gradient(to left,rgba(white, 0.0),rgba(white, 1.0),rgba(white, 0.0));
      bottom: 45px;
      width: 90%;
      left: 5%;
      right: 5%;
      font-size: xx-large;
    }
  }
}


/*===================
HEADER
===================*/

#header-block {
  margin-bottom: 4em;
  position: relative;
}

#sigil {
  margin: 1em 0 0 18px;
}

#header-name {
  margin-left: 10px;
  display: inline;

  &:hover {
    text-decoration: underline;
  }
}

#name-shine {
  background: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 0px;
  left: -10px;
  height: 30px;
  width: 20px;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  display: inline;
}



/*===================
MENU
===================*/

#main-menu {
  width: 100%;
  margin: auto;
}

.main-menu-item {
  width: 90%;
  margin: 1em 0em;
  border: 5px solid #ccc;

  & > h1 {
    color: #ccc;
    -webkit-transition: 1300ms;
  }

  &:hover > h1 {
    color: #808080;
  }
}

.menu-left {
  float: left;
  border-radius: 20px 100px 10px 20px;
  background-image: linear-gradient(to right, #fff, #fff);
  position: relative;
  z-index: 100;
  opacity: 1;

  &:before {
    background-image: linear-gradient(to top right, #cff, #fff);
    border-radius: inherit;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -100;
    transition: opacity 1500ms;
  }

  &:hover:before {
    opacity: 1;
  }
}

.menu-right {
  float: right;
  border-radius: 100px 20px 20px 10px;
  background-image: linear-gradient(to left, #fff, #fff);
  position: relative;
  z-index: 100;
  opacity: 1;

  &:before {
    background-image: linear-gradient(to top left, #cff, #fff);
    border-radius: inherit;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -100;
    transition: opacity 1500ms;
  }

  &:hover:before {
    opacity: 1;
  }
}

.menu-text-left {
  margin: 0;
  padding: 1em 1em;
  text-align: left;
}

.menu-text-right {
  margin: 0;
  padding: 1em 1em;
  text-align: right;
}

/*===================
BLOG STUFFS
===================*/

.blog-title {
  display: inline-block;
  transition: 700ms;

  &:hover {
    color: #fff;
    transition: 700ms;
  }
}

.blog-blurb {
  width: 60%;
  border-radius: 10px;
  padding: 1em 1em;
  -webkit-transition: 2000ms;

  &:hover {
    background-color: #b3b3b3;
    color: #fff;
    -webkit-transition: 1000ms;
  }
}

.blog-post-left {
  float: left;
}

.blog-post-right {
  float: right;
  text-align: right;
}

.blog-link {
  margin-right: 80%;
}


/*===================
ABOUT
===================*/
.section-centered {
  text-align: center;
}

#contact-form {
  width: 30%;
  margin: auto;

  & > fieldset {
    border: none;

    & > label > input {
      width: 100%;
      margin: 1em 0;
      border: 1px solid #ccc;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        font-style: italic;
        color: #ccc;
      }
    }

    & > label > textarea {
      width: 100%;
      height: 6em;
      margin: 1em 0;
      border: 1px solid #ccc;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        font-style: italic;
        color: #ccc;
        padding-top: 20px;
      }
    }
  }
}

.button {
  width: 100%;
  font-style: italic;
  border-radius: 6px;
  background: none;
  border: 2px outset #ccc;
  font-style: italic;
  font-size: 1em;
  color: #ccc;
  height: 2em;
  outline: none;

  &:focus {
    border-style: inset;
  }
}

.error > input {
  border: 1px solid red;
}


/*===================
PROJECTS
===================*/

.tile {
  position: relative;
  display: block;
  width: 50%;
  padding-bottom: 45%;
  overflow: hidden;
  float: left;
  opacity: 0.65;
  transition: 1500ms;
  /*overflow: visible;*/

  & div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    & img {
      width: 100%;
      height: 100%;
    }

    & span {
      display: inherit;
      position: absolute;
      background: linear-gradient(to left,rgba(white, 0.0),rgba(white, 1.0),rgba(white, 0.0));
      bottom: 1em;
      font-size: 3em;
      color: #808080;
      opacity: 0.0;
      width: 100%;
      text-align: center;
      transition: 700ms;
      z-index: 9;
    }
  }
}

.tile-expanded {
  /*z-index: 10;
  transition: 1000ms;*/
  opacity: 1.0;
}

/*===================
404
===================*/
.four-oh-four-message {
  width: 70%;
  margin: auto;
  padding-top: 4em;
}
