/* apply a natural box layout model to all elements, but allowing components to change */
/*  http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  padding: 0px;
  color: #cccccc;
  font-family: Copperplate, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#header-block {
  padding-bottom: 4em;
}

#sigil {
  margin-left: 18px;
}

#header-name {
  margin-left: 10px;
  display: inline;
}

#header-name:hover {
  text-decoration: underline;
}

#name-shine {
  background: #ffffff;
  position: absolute;
  margin-top: 102px;
  margin-left: -92px;
  height: 11px;
  width: 5px;
  -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
  display: inline;
}

#container {
  max-width: 960px;
  margin: auto;
}

#main-menu {
  width: 100%;
  margin: auto;
}

.main-menu-item {
  width: 90%;
  padding: 1em 0em;
  margin: 1em 0em;
  border: 5px solid #cccccc;
}

.menu-left {
  float: left;
  border-radius: 20px 100px 10px 20px;
  padding-left: 3em;
}

.menu-right {
  float: right;
  border-radius: 100px 20px 20px 10px;
  padding-right: 3em;
}

.menu-text-left {
  float: left;
}

.menu-text-right {
  float: right;
}

.blog-post-left {
  width: 75%;
  float: left;
  padding: 2em 2em;
}

.blog-post-right {
  width: 75%;
  float: right;
  padding: 2em 2em;
  text-align: right;
}

#four-oh-four-message {
  width: 50%;
  margin: auto;
  padding-top: 4em;
}

@media (max-width: 769px) {
  #container {
    max-width: 768px;
  }
}

@media (max-width: 480px) {
  #container {
    max-width: 480px;
  }
}